{% extends 'base.html' %}
{% block title %}Delete Comment - {% endblock title %}
{% block content %}
    <h1>Delete Comment</h1>  
    <form action="" method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ comment.comment }}"?</p>
        <button class="btn btn-danger ml-2" type="submit">Delete</button>
        <!-- <a class="btn btn-info" href="{% url 'article_detail' comment.article.pk comment.article.slug %}" role="button">Cancel</a> -->
        <a class="btn btn-info" href="#" role="button">Cancel</a>
    </form>
{% endblock content %}